# Compiled class file
.class

# Log file
.log

# BlueJ files
.ctxt

# rsa key
*.pub

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
logs/
plots/
csv/
bin/
src/.idea/dataSources/d6a29e55-48cc-46aa-9c7e-a9c42f2a51ca.xml
src/.idea/dataSources/d6a29e55-48cc-46aa-9c7e-a9c42f2a51ca.xml
src/.idea/dataSources/d6a29e55-48cc-46aa-9c7e-a9c42f2a51ca/storage_v2/_src_/database/postgres.edMnLQ/schema/other_data.eRMc9Q.meta
*.meta
src/.idea/dataSources/d6a29e55-48cc-46aa-9c7e-a9c42f2a51ca.xml
