# Compiled class file
.class

# Log file
.log

# BlueJ files
.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
experiments/pic.png
experiments/notebooksMatisse/.idea/inspectionProfiles/Project_Default.xml
experiments/notebooksMatisse/.idea/misc.xml
experiments/notebooksMatisse/.idea/modules.xml
experiments/notebooksMatisse/.idea/notebooks.iml
experiments/notebooksMatisse/.idea/vcs.xml
experiments/notebooksMatisse/ema_import_from_matisse.ipynb
logs
plots
csv/*
